@font-face {
	font-family: GilroyMedium;
	src: url(./Assets/Gilroy-Medium.ttf);
}

@font-face {
	font-family: GilroySemiBold;
	src: url(./Assets/Gilroy-SemiBold.ttf);
}

html {
	background: linear-gradient(
			0deg,
			rgba(19, 19, 19, 0.29),
			rgba(19, 19, 19, 0.29)
		),
		linear-gradient(112.68deg, #180247 0%, #010004 100%);
}
body {
	height: auto;
	margin: 0px;
	background: #000;
	background-image: url(./Assets/bg1.png); /* fallback */
	background-image: url(./Assets/bg1.png),
		linear-gradient(0deg, rgba(19, 19, 19, 0.29), rgba(19, 19, 19, 0.29)),
		linear-gradient(112.68deg, #180247 0%, #010004 100%);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
}

.logo {
	padding-top: 5rem;
	text-align: center;
	padding-bottom: 3rem;
}

.congratulations {
	position: static;
	width: auto;
	/* height: 86px; */
	font-size: 86px;
	font-family: GilroySemiBold;
	font-weight: bolder;
	color: white;
	text-align: center;
	letter-spacing: 0.75px;
	overflow: hidden;
}

.explorer {
	position: static;
	width: auto;
	/* height: 107px; */
	font-size: 92px;
	font-family: GilroySemiBold;
	font-weight: 600;
	text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
		1px 1px 0 #fff;
	text-align: center;
	letter-spacing: 0.75px;
	padding-bottom: 3%;
}

.rewards {
	/* margin-top: 5rem; */
	position: static;
	text-align: center;
	font-family: GilroyMedium;
	color: white;
	font-size: 32px;
	letter-spacing: 1.37px;
}

.timer {
	position: static;
	text-align: center;
	font-family: GilroySemiBold;
	font-weight: bold;
	color: white;
	font-size: 36px;
	letter-spacing: 4px;
}

.tuned {
	margin-top: 2rem;
	position: static;
	text-align: center;
	font-family: GilroyMedium;
	color: white;
	font-size: 32px;
	letter-spacing: 1.37px;
}

.check {
	position: static;
	text-align: center;
	font-family: GilroyMedium;
	color: white;
	font-size: 32px;
	letter-spacing: 0.75px;
}

footer {
	position: relative;
	text-align: center;
	margin-bottom: 2rem;
	padding-bottom: 5%;
	font-size: 21px;
	margin-top: 3%;
	color: white;
	font-family: GilroyMedium;
}

@media screen and (max-width: 750px) {
	body {
		padding: 2px;
		margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 0px;
	}
	.logo {
		padding-top: 2rem;
	}
	.congratulations {
		font-size: 45px;
	}

	.explorer {
		font-size: 54px;
		margin-bottom: 0;
	}

	.timer {
		padding-left: 15px;
		padding-right: 15px;
		font-size: 25px;
	}
	.rewards,
	.tuned,
	.check {
		font-size: 20px;
	}

	footer {
		margin-top: 15px;
		font-size: 13.5px;
		padding-left: 5px;
		padding-right: 5px;
	}
}
@media only screen and (max-width: 370px) {
	body {
		margin-left: 25px;
		margin-right: 25px;
		margin-bottom: 0px;
	}
	.logo {
		height: auto;
		width: 100%;
	}
	.logo img {
		width: 150px;
	}
	.congratulations {
		font-size: 30px;
		height: 50px;
	}
	.explorer {
		font-size: 30px;
		height: 70px;
	}
	.check {
		margin-top: 10px;
		margin-bottom: 40px;
	}
	.timer {
		font-size: 22px;
	}
	.tuned {
		font-size: 18px;
	}
	.rewards {
		font-size: 20px;
		margin-bottom: 30px;
	}
	footer {
		margin-bottom: 70px;
		font-size: 15px;
	}
}
