@font-face {
    font-family: Gilroy;
    src: url(./Assets/Gilroy-FREE/Gilroy-FREE/Gilroy-Light.otf);
}

body{
    height: 100vh;
    margin: 0;
    background: #000;
    background-image: url(./Assets/bg.png); /* fallback */
    background-image: url(./Assets/bg.png),linear-gradient(0deg, rgba(19, 19, 19, 0.29), rgba(19, 19, 19, 0.29)), linear-gradient(112.68deg, #180247 0%, #010004 100%);
    display: flex;
    flex-direction: column;
}

.logo{
    padding-top: 10rem;
    text-align: center;
    padding-bottom: 3rem;
}

.congratulations{
    position: static;
    width: auto;
    height: 86px;
    font-size: 86px;
    font-family: Gilroy;
    font-weight: bolder;
    color: white;
    text-align: center;
    letter-spacing: 0.75px;
}

.explorer{
    position: static;
    width: auto;
    height: 107px;
    font-size: 92px;
    font-family: Gilroy;
    font-weight: 600;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
    text-align: center;
    letter-spacing: 0.75px;
}

.rewards{
    margin-top: 5rem;
    position: static;
    text-align: center;
    font-family: Gilroy;
    color: white;
    font-size: 32px;
    letter-spacing: 1.37px;
}

.timer{
    position: static;
    text-align: center;
    font-family: Gilroy;
    font-weight: bold;
    color: white;
    font-size: 36px;
    letter-spacing: 4px;
}

.tuned{
    margin-top: 5rem;
    position: static;
    text-align: center;
    font-family: Gilroy;
    color: white;
    font-size: 32px;
    letter-spacing: 1.37px;
}

.check{
    position: static;
    text-align: center;
    font-family: Gilroy;
    color: white;
    font-size: 32px;
    letter-spacing: 0.75px;
}

footer {
    position: relative;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 21px;
    margin-top: auto;
    color: white;
}