@font-face {
	font-family: GilroyMedium;
	src: url(./Assets/Gilroy-Medium.ttf);
}

@font-face {
	font-family: GilroySemiBold;
	src: url(./Assets/Gilroy-SemiBold.ttf);
}

html {
	background: linear-gradient(
			0deg,
			rgba(19, 19, 19, 0.29),
			rgba(19, 19, 19, 0.29)
		),
		linear-gradient(112.68deg, #180247 0%, #010004 100%);
	overflow: hidden;
}
body {
	height: 100vh;
	margin: 0px;
	background: #000;
	background-image: url(./Assets/bg1.png); /* fallback */
	background-image: url(./Assets/bg1.png),
		linear-gradient(0deg, rgba(19, 19, 19, 0.29), rgba(19, 19, 19, 0.29)),
		linear-gradient(112.68deg, #180247 0%, #010004 100%);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: flex;
	flex-direction: column;
}

.main {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100vh;
	padding: 3%;
}
.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	/* padding-top: 5%; */
	padding-bottom: 3%;
}
.logo a {
	text-align: center;
}
.logo a img {
	width: 80%;
	height: auto;
}

.congratulations {
	position: static;
	width: 100%;
	/* height: 86px; */
	font-size: 75px;
	font-family: GilroySemiBold;
	color: white;
	text-align: center;
	letter-spacing: 0.75px;
}

.explorer {
	position: static;
	width: 100%;
	font-size: 75px;
	font-family: GilroySemiBold;
	font-weight: 600;
	text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
		1px 1px 0 #fff;
	text-align: center;
	letter-spacing: 0.75px;
	padding-bottom: 3%;
}

.rewards {
	position: static;
	text-align: center;
	font-family: GilroyMedium;
	color: white;
	font-size: 32px;
	letter-spacing: 1.37px;
}

.timer {
	position: static;
	text-align: center;
	font-family: GilroySemiBold;
	font-weight: bold;
	color: white;
	font-size: 44px;
	letter-spacing: 4px;
}

.tuned {
	/* margin-top: 2rem; */
	padding-top: 3%;
	position: static;
	text-align: center;
	font-family: GilroyMedium;
	color: white;
	font-size: 32px;
	letter-spacing: 1.37px;
}

.check {
	position: static;
	text-align: center;
	font-family: GilroyMedium;
	color: white;
	font-size: 32px;
	letter-spacing: 0.75px;
}

footer {
	position: relative;
	text-align: center;
	margin-bottom: 2rem;
	padding-bottom: 5%;
	font-size: 16px;
	margin-top: 3%;
	color: white;
	font-family: GilroyMedium;
}

@media screen and (max-width: 768px) {
	.main {
		/* padding-top: 5%; */
	}
	.logo a img {
		width: 60%;
		height: auto;
	}
	.congratulations,
	.explorer {
		font-size: 42px;
	}
	.rewards {
		font-size: 18px;
	}

	.timer {
		font-size: 26px;
	}

	.tuned,
	.check {
		font-size: 18px;
	}

	footer {
		font-size: 12px;
	}
}
