<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div className="top">
      <HeadSVG />
    </div>
    <div className="body">
      <p className="body-title">Refer your way to the Top!</p>
      <p className="body-sub">Earn a chance to Speedtrack your Recruitment</p>
      <p className="body-title">Referall Code</p>
      <p className="body-sub">Share it with your friends!</p>
      <div className="code">0x097564fr</div>
      <p className="copy-code">
        <CopySVG />
        Copy Referral Code
      </p>
      <div className="body-end">
        <p className="title">How it Works?</p>
        <p>
          Share your Referral Code with your friends to get them extra time and
          vice versa
          <br />
          Top 5 people whose code gets used the most will get an exclusive
          chance to speedtrack their Recruitments Process
        </p>
      </div>
      {/* Button Component */}
    </div>
  </body>
</html>
