/* Navbar */

.navbar {
  width: 100%;
  position: fixed;
  display: flex;
  background-color: transparent;
  z-index: 100;
  margin: 0;
  padding: 3% 5%;
}

img {
  width: 8vw;
  height: 46.18px;
}

@media screen and (max-width: 620px) {
  .navbar {
    padding: 13% 10%;
  }

  img {
    width: 100px;
    height: 36.18px;
  }
}

@media screen and (max-width: 950px) and (min-width: 600px) {
  .navbar {
    padding: 13% 10%;
  }

  img {
    width: 120px;
    height: 46.18px;
  }
}

@media screen and (max-width: 1200px) and (min-width: 1000px) {
}
