@font-face {
  font-family: Gilroy;
  src: url("../font/Gilroy Font/Gilroy-Bold.ttf");
}

@font-face {
  font-family: GilroySemiBold;
  src: url("../font/Gilroy Font/Gilroy-SemiBold.ttf");
}

@font-face {
  font-family: GilroyMedium;
  src: url("../font/Gilroy Font/Gilroy-Medium.ttf");
}

.about_page {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.about_page .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 55vw;
}

.about_page .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 45vw;
}

.about_page .left img {
  height: 100vh;
  width: 55vw;
  object-fit: cover;
}

.about_page .main_form {
  width: 30vw;
  height: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 45px 40px 45px 40px;
  background: #1f1f1f;
  border-radius: 25px;
}

.about_page .btn1 {
  margin: 0 !important;
}

.about_page .heading {
  font-family: GilroySemiBold;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  text-align: center;

  color: #ffffff;
  margin: 0;
}

.about_page .para {
  font-family: GilroyMedium;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height, or 137% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.25px;

  /* Text/Secondary */

  color: rgba(255, 255, 255, 0.7);
  margin: 5px;
}

.about_page .bottom {
  font-family: GilroyMedium;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  /* or 175% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.75px;

  /* Text/Secondary */

  color: rgba(255, 255, 255, 0.7);
}

.about_page .tologin {
  margin-left: 3px;
  color: #864ff9;
  cursor: pointer;
}

.about_page .form {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

input {
  width: 100%;
  background: #2b2b2b;
  border-radius: 16px;
  width: 450px;
  height: 48px;
  margin: 5px;
  padding-left: 20px;
  border: none;
}

label {
  font-family: GilroyMedium;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  /* identical to box height, or 147% */

  display: flex;
  align-items: center;
  letter-spacing: 0.25px;

  color: #ffffff;
  margin-bottom: 5px;
}

.about_page .optional {
  margin-left: 3px;
  font-family: GilroyMedium;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height, or 137% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.25px;

  /* Text/Secondary */

  color: rgba(255, 255, 255, 0.7);
}
