@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:ital,wght@1,300&display=swap");

@font-face {
  font-family: GilroyExtraBold;
  src: url("../font/Gilroy Font/Gilroy-ExtraBold.ttf");
}

@font-face {
  font-family: GilroySemiBold;
  src: url("../font/Gilroy Font/Gilroy-SemiBold.ttf");
}
.landing_page {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.landing_page .left {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45vw;
}

.landing_page .right {
  height: 100vh;
  width: 55vw;
}

.landing_page .right img {
  height: 100vh;
  object-fit: cover;
  width: 55vw;
}

.landing_page .info {
  width: 35vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

h1 {
  font-family: GilroyExtraBold;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 18px;
  /* identical to box height, or 75% */
  letter-spacing: 0.5px;
  margin: 0;
  /* Text/Secondary */

  color: rgba(255, 255, 255, 0.7);
}

.heading1 {
  font-family: GilroySemiBold;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  /* identical to box height, or 110% */
  margin: 0;
  letter-spacing: 0.5px;

  /* Text/Primary */

  color: rgba(255, 255, 255, 0.95);
}

.portal_img {
  width: 11vw;
}

.para {
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 18px;
  /* identical to box height, or 100% */
  letter-spacing: 0.5px;

  /* Text/Secondary */

  color: rgba(255, 255, 255, 0.7);
}
